<!DOCTYPE HTML>
<html>
<head>
  <title>Hot Weather Widget  Responsive Widget Template | Home :: w3layouts</title>

  <!-- Custom Theme files -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Hot Weather Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <!--google fonts-->
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>
<h1>Hot Weather Widget</h1>
<div class="element">


  <div class="element-left">

    <div class="element-bg-img"><img src="../assets/images/{{mainImg}}" alt="" class="img-responsive"> </div>

    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul (click)="setFilter($event)">
          <li><a href="#">Hotel</a></li>
          <li><a href="#">Fishing</a></li>
          <li><a href="#">Tours</a></li>
          <li class="anc-bor"><a href="#">Weather</a></li>
        </ul>
      </div>

      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">


            <div class="activity-row" *ngFor="let hotel of hotels | hotelsFilter:filterTypeText" (click)="showInfo(hotel)">
              <div class="activity-desc">
                <h5>{{hotel.address}}</h5>
                <!--
                <p>Sed perspiciatis</p>
                <p>Et harum quidem</p> -->
                <h6>Tel:{{hotel.phone | phoneFormat}}</h6>
              </div>
              <div class="activity-img">
                <ul>
                  <li><img src='../assets/images/{{hotel.img}}'  alt=""/></li>
                  <!--<li><img src='../assets/images/r1.jpg'  alt=""/></li>-->
                </ul>
              </div>
              <div class="clear"> </div>
            </div>








          </div>
        </div>
      </div>
    </div>
  </div>







  <div class="element-right">


    <app-weather [weather]="weather">
    </app-weather>




     <app-social [social_info]="social_info" [img]="mainImg">
     </app-social>

  </div>



  <div class="clear"> </div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>

</body>
</html>
